@model WEBBG.Models.LIENHE

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h3 style="text-align:center;color:red;">CHI TIẾT LIÊN HỆ</h3>

<div class="container">
    <hr />
    <dl class="dl-horizontal">
        <dt>
            HỌ TÊN
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HOTEN)
        </dd>

        <dt>
            EMAIL
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EMAIL)
        </dd>

        <dt>
            CHỦ ĐỀ
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CHUDE)
        </dd>

        <dt>
            NỘI DUNG
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NOIDUNG)
        </dd>

    </dl>
</div>
<p>
    @*@Html.ActionLink("Edit", "Edit", new { id = Model.MALIENHE }) |*@
    @Html.ActionLink("Quay Lại", "Index")
</p>
