@model IEnumerable<WEBBG.Models.SANPHAM>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutSite.cshtml";
}

<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="~/Public/img/banner1.jpg" class="d-block w-100" style="width:auto; height:400px;">
        </div>
        <div class="carousel-item">
            <img src="~/Public/img/banner2.jpg" class="d-block w-100" style="width:auto; height:400px;">
        </div>
        <div class="carousel-item">
            <img src="~/Public/img/nike-banner.jpg" class="d-block w-100" style="width:auto; height:400px;">
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
<div class="container">
    <div class="row mt-3">
        <div class="col-md-6 col col-sm-6 col-lg-6">
            <div class="banner" style="height:400px;">
                <a href="/Site/SPTheoLoai/1">
                    <img src="~/Public/img/gt2.jpg" class="img-fluid" style="height:365px;width:550px;" />
                </a>
            </div>
        </div>
        <div class="col-md-6 col-sm-6 col-lg-6 ">
            <div class="banner" style="height:200px;">
                <a href="/Site/SPTheoLoai/2">
                    <img src="~/Public/img/b5.jpg" class="img-fluid" />
                </a>
            </div>
            <div class="row mt-1">
                <div class="col-md-6 col-sm-6 col-lg-6">
                    <div class="banner" style="height:200px;">
                        <a href="/Site/SPTheoLoai/3">
                            <img src="~/Public/img/b11.jpg" class="img-fluid" />
                        </a>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 col-lg-6">
                    <div class="banner" style="height:200px;">
                        <a href="/Site/SPTheoLoai/4">
                            <img src="~/Public/img/b13.jpg" class="img-fluid" />
                        </a>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="row mt-3">
        <h3><b>--------------------SẢN PHẨM MỚI  ----------------------</b></h3>

        @foreach (var SANPHAM in Model)
        {
            <div class=" col-md-3 ">
                <div class="card" style="width: 100%;">
                    <img src="~/Public/img/@SANPHAM.ANHBIA" class="card-img-top" alt="...">
                    <div class="card-body">
                        <a href="@Url.Action("Details","Site", new { id =SANPHAM.MASP})" style="text-decoration:none">
                            <h5 class="card-title" style="font-size:17px;">@SANPHAM.TENSP</h5>
                        </a>
                        <h5 style="font-size:15px;">Giá Bán: @SANPHAM.GIABAN</h5>
                        <a href="@Url.Action("ThemGioHang","GioHang", new { @iMASP =SANPHAM.MASP, @strURL = Request.Url.ToString()})" class="btn btn-primary">Đặt mua</a>
                    </div>
                </div>
            </div>
        }

        <div class="row mt-4">
            <div class="col-md-4 ">

                <img src="~/Public/img/sp5.jpg" class="img-fluid" ; />

            </div>
            <div class="col-md-8 bg-body">
                <br /> <h3 style="font-size:30px;">GIÀY ADIDAS</h3>
                <p>
                    <br /><br />
                    Sneaker đã trở thành một biểu tượng của xã hội, là một sản phẩm của thời đại với những thiết kế cổ điển và những điều đó đều nằm
                    trong những đôi giày Sneaker Delta Shoes. Không lỗi thời với thời gian, mang dấu ấn cá tính khác biệt và tạo mọi sự lôi cuốn từ
                    chính đôi giày Sneaker. Tự tạo cuộc chơi, tự tạo phong cách, mang lại nhiều cảm giác khác lạ trong những sản phẩm tạo cảm giác thoải mái
                    và cũng có nhiều sự lựa chọn đó là FlyShop mang lại.
                </p>
                <a href="/Site/SPTheoLoai/4" style="text-decoration:none;">XEM TẤT CẢ</a>
            </div>
        </div>

        @foreach (var SANPHAM in Model)
        {
            <div class=" col-md-3 mt-3">
                <div class="card" style="width: 100%;">
                    <img src="~/Public/img/@SANPHAM.ANHBIA" class="card-img-top" alt="...">
                    <div class="card-body">
                        <a href="@Url.Action("Details","Site", new { id =SANPHAM.MASP})" style="text-decoration:none">
                            <h5 class="card-title" style="font-size:17px;">@SANPHAM.TENSP</h5>
                        </a>
                        <h5 style="font-size:15px;">Giá Bán: @SANPHAM.GIABAN</h5>
                        <a href="@Url.Action("ThemGioHang","GioHang", new { @iMASP =SANPHAM.MASP, @strURL = Request.Url.ToString()})" class="btn btn-primary">Đặt mua</a>
                    </div>
                </div>
            </div>
        }


    </div>
    <section class="dt">
        <div class="container">
            <div class="row mt-3">
                <h3 style="text-align:center;color:red;font-size:25px;">ĐỐI TÁC CHÍNH</h3>
                <div class="col-md-3">
                    <img src="~/Public/img/dt1.jpg" class="img-fluid" style="height:150px;width:150px; border:2px solid;" />
                </div>
                <div class="col-md-3">
                    <img src="~/Public/img/dt2.jpg" class="img-fluid" style="height: 150px; width: 150px; border: 2px solid;" />

                </div>
                <div class="col-md-3">
                    <img src="~/Public/img/dt3.jpg" class="img-fluid" style="height: 150px; width: 150px; border: 2px solid;" />

                </div>
                <div class="col-md-3">
                    <img src="~/Public/img/dt4.jpg" class="img-fluid" style="height: 150px; width: 150px; border: 2px solid;" />

                </div>
            </div>
        </div>
    </section>


